* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #347EFF;
  border: 1px solid #347EFF;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #2A65CC;
  border-color: #2A65CC;
}

#main {
  display: flex;
}

.tasks {
  margin: 1rem;
  border: 1px solid #347EFF;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tasks header {
  background: #347EFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-tasks {
  border-color: #1da863;
}

#finished-tasks header {
  background: #1da863;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tasks h2 {
  margin: 0;
  color: white;
}

.tasks ul {
  list-style: none;
  margin: 0;
  padding: 3rem 1rem;
}

.tasks li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: #fff;
}

.tasks li h2 {
  color: #2A65CC;
  margin: 0.5rem 0;
}

#finished-tasks li h2 {
  color: #1da863;
}

.tasks li h3 {
  color: #575757;
  font-size: 1rem;
}

.task li p {
  margin: 0;
}

.droppable {
  background: #bcdafd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#finished-tasks .droppable {
  background: #dbfde9;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #347EFF;
  background: #f7f7f7;
  border-radius: 15px;
}